 .App {
  height: 100vh;
  text-align: center;
  background-color: #DBCDBB;
  font-family: 'Megrim', sans-serif;
}

@font-face {
  src: url('https://fonts.googleapis.com/css?family=Megrim');
}

button {
    background-color: #AD926E;
    color: #DBCDBB;
    border: none;
    border-radius: 20%;
  }

.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 1em;
}

.navbar .toggle_button {
    display: none;
  }

.navbar .menu {
  display: flex;
  flex: 1 1 auto;
  overflow: hidden;
}

.navbar ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex: 1 1 auto;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar ul li {
  padding: 0 0.5em;
  margin: 0 10px;
}

.search_form_wrapper {
  margin-right: 10px;
}

@media screen and (max-width: 738px) {
  .navbar .toggle_button {
    display: block;
  }

  .navbar .menu {
    height: 0;
  }

  .navbar .menu.visible {
    display: block;
    height: auto;
  }

  .navbar ul li{
    margin: 10px auto;
  }

  .search_form_wrapper {
    width: 100%;
    float: left;
  }
  
  .sign_up_button {
    width: 100%;
    margin: 2px auto;
  }

  .login_button {
    width: 100%;
    margin: 2px auto;
  }

}

.button {
    color: #AD926E;
}

.ImageContainer {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  flex:1;
  margin: 15px;
}

.ImageCard img {
  width:200px;
  height: auto;
  border-radius: 10px;
  }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
