 .App {
  height: 100vh;
  text-align: center;
  background-color: #DBCDBB;
}

.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 1em;
}

.navbar .toggle_button {
    display: none;
  }

.navbar ul {
  list-style: none;
  display: flex;
  flex: 1 1 auto;
  justify-content: flex-start;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.navbar ul li {
  padding: 0 0.5em;
  margin: 0 10px;
}

@media screen and (max-width: 738px) {
  .navbar .toggle_button {
    display: block;
  }

  .navbar ul {
    height: 0;
  }

  .navbar ul.visible {
    height: auto;
  }

  .search_form_wrapper {
    display: none;
  }
}

.ImageContainer {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  flex:1;
  margin: 15px;
}

.ImageCard img {
  width:200px;
  height: auto;
  border-radius: 10px;
  }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
